appdirs==1.4.4
cfclient==2022.5
cflib==0.1.19
freetype-py==2.3.0
hsluv==5.0.3
kiwisolver==1.4.4
libusb-package==1.0.26.0
numpy==1.23.1
opencv-python-headless==4.5.5.64
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.12.4
pyserial==3.5
pyusb==1.2.1
PyYAML==5.4.1
pyzmq==22.3.0
qasync==0.23.0
qtm==2.1.1
scipy==1.8.1
vispy==0.9.6
